@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #94C2E4;
    --foreground: #30528e
  }
}

.bg-background {
  background-color: var(--background)
}

.text-foreground {
  color: var(--foreground)
}

@layer base {
  * {
    @apply border-border;
  }

  body {

    @apply bg-background text-foreground;
  }
}